<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>
            <%= playlist.playlistName %>
        </title>
</head>

<body style="text-align: center;">
    <h1 id="title"> VYNL </h1>
    <%- include("partials/testnav.ejs") %>
    <h1>
        <%= playlist.playlistName %>
    </h1>
        <br>

        <div class="profilePageInfo">
            <span class="profilePagePart">
                <ul style="list-style-type: none; padding: 0;">
                    <% for(let song of songs) { %>
                        <li>
                            <%= song.songName %> by <%= song.artistName %>
                        </li>
                        <% } %>
                </ul>


                <br>
                <a class="homeButtons" href="/playlists">Back to Playlists</a> |
                <a class="homeButtons" href="/search">Browse Songs</a>
            </span>
        </div>

        <%- include("partials/footer") %>
</body>

</html>