<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>Your Playlists</title>
</head>

<body style="text-align: center;">
    <h1 id="title"> VYNL </h1>
    <%- include("partials/testnav.ejs") %>
        <h1 id="playlistcss">Your Playlists</h1>

        <div class="profilePageInfo">
            <span class="profilePagePart">
                <h3 id="playlistcss2">Create New Playlist</h3>
                <form action="/create-playlist" method="POST">
                    <div class="searchDivItem"><input type="text" name="name" placeholder="Playlist Name" required>
                    </div><br>
                    <div class="searchDivItem"><button class="searchButton" type="submit">Create</button></div>
                </form>
            </span>
        </div>
        
        <div class="profilePageInfo">
            <span class="profilePagePart">
                <% if (playlists.length===0) { %>
                    <p>No playlists yet.</p>
                    <% } else { %>
                        <ul style="list-style-type: none; padding: 0;">
                            <% for(let playlist of playlists) { %>
                                <div class="searchDivItem">
                                    <li>
                                        <strong><a class="homeButtons" href="/playlist/<%= playlist.playlistId %>">
                                                <%= playlist.playlistName %>
                                            </a></strong>
                                    </li>
                                </div>
                                <% } %>
                        </ul>
                        <% } %>
            </span>
        </div>

        <%- include("partials/footer") %>
</body>

</html>